@import url('//fonts.googleapis.com/css?family=Alegreya|Bree+Serif|Roboto|Bentham|Merriweather')
lfa-framework()

@import _colors
@import jsxgraph

.bree
  font-family: 'Bree Serif'

.bentham
  font-family: Bentham

.alegreya
  font-family: Alegreya

.roboto
  font-family: Roboto

.merriweather
  font-family: Merriweather

.ex
  background-color: flat_clouds
  padding: 0.4em
  color: black
  margin-top: 1.8em

  .nr
    font-family: Alegreya
    background-color: flat_pomegranate
    color: white
    display: block
    height: 2em
    width: 2em
    line-height: 2em
    border-radius: 1.5em
    margin: 0 auto
    text-align: center;
    font-size: 1.8em;
    transform: translate3d(0, -50%, 0)

    + p
      margin-top: 0

  ol
    list-style-type: lower-latin
    li
      min-height: 2em

.label
  &.label-danger
    margin-right: 1em
    font-family: sans-serif
    font-size: 0.7em

.MathJax_Preview
  overflow: scroll
  width: 100%

.MathJax_Zoom
  overflow: inherit