+article("Graphs", "using JSXGraph")
  +section("Intro")
    h1 Display Graphs
    p see 
      a(href='http://jsxgraph.uni-bayreuth.de') JSXGraph website.
    .row
      .col-sm-6
        .ex.conicsections
          h1 Conic sections
          +img('img/conic-sections.png')
          p In mathematics, a <em>conic section</em> (or just <em>conic</em>) is a curve obtained as the intersection of a <strong>cone</strong> (more precisely, a right circular conical surface) with a <strong>plane</strong>.
          p Traditionally, the three types of conic section are the 
            span.label.label-danger hyperbola
            |, the 
            span.label.label-danger parabola
            |, and the 
            span.label.label-danger ellipse
            |. The circle is a special case of the ellipse, and is of sufficient interest in its own right that it is sometimes called the fourth type of conic section. 
      .col-sm-6
        .ex
          h3 Hyperbola
          #hiperbola.jxgbox
          p A <strong>hyperbola</strong> (plural <em>hyperbolas</em> or <em>hyperbolae</em>) is a type of smooth curve, lying in a plane, defined by its geometric properties or by equations for which it is the solution set. A hyperbola has two pieces, called connected components or branches, that are mirror images of each other and resemble two infinite bows.
    .row
      .col-sm-6
        .ex
          h3 Parabola
          #parabola.jxgbox
          p A <strong>parabola</strong> (plural <em>parabolas</em> or <em>parabolae</em>, adjective parabolic, from Greek: παραβολή) is a two-dimensional, mirror-symmetrical curve, which is approximately U-shaped when oriented as shown in the diagram, but which can be in any orientation in its plane.

      .col-sm-6
        .ex
          h3 Ellipse
          #elipsa.jxgbox
          p An <strong>ellipse</strong> is a curve on a plane surrounding two focal points such that a straight line drawn from one of the focal points to any point on the curve and then back to the other focal point has the same length for every point on the curve.

    .ex
      h3 Euler line
      #eulerline.jxgbox
      p In geometry, the <strong>Euler line</strong>, named after Leonhard Euler (US /ˈɔɪlər/, oy-lər or UK /ˈɔɪlə/, oy-lə), is a line determined from any triangle that is not equilateral. It passes through several important points determined from the triangle, including the orthocenter, the circumcenter, the centroid, the Exeter point and the center of the nine-point circle of the triangle.

    .row
      .col-sm-6
        .ex
          h3 Five circle theorem
          #fivecircle.jxgbox
          p In geometry, the <strong>five circles theorem</strong> states that, given five circles centered on a common sixth circle and intersecting each other chainwise on the same circle, the lines joining the their second intersection points forms a pentagram whose points lie on the circles themselves.
      .col-sm-6
        .ex
          h3 Apollonian circle packing
          #apollo.jxgbox
          p An <strong>Apollonian gasket</strong> or <strong>Apollonian net</strong> is a fractal generated from triples of circles, where each circle is tangent to the other two. It is named after Greek mathematician Apollonius of Perga.

    .row
      .col-sm-6
        .ex
          h3 Hilbert curve
          #hilbertcurve.jxgbox
          p A <strong>Hilbert curve</strong> (also known as a <strong>Hilbert space-filling curve</strong>) is a continuous fractal space-filling curve first described by the German mathematician David Hilbert in 1891
      .col-sm-6
        .ex
          h3 Hyperbolic curve
          #hyperboliccurve.jxgbox
          p It can be described in polar coordinates $ (5,\theta) $ by the equation $ r = \frac{a}{\theta} $ with a real number $ a $.
