+article("Advanced Graphs", "using Wolfram CDF Player")
  +section("Intro")
    h1 Display Graphs with Wolfram CDF Player
    | <script type="text/javascript">
    |  var cdf = new cdfplugin();
    |  cdf.embed('http://www.wolfram.com/cdf/faq/PointChargesExample.cdf', 462, 438);
    | </script>



