+article("Animations")
  +section("Intro")
    .row.bg-flat_pomegranate.white
      .col-sm-6
        .animatedImg
          +img('img/animated.gif')
      .col-sm-6
        .dontstopmoving 
          | DON'T
          br
          | STOP
          br
          | MOVING
        h2.roboto Use Animations