+article("Flat / 2D animations", "using Two.js")
  +section("Intro")
    h1 Flat animations
    p using Two.js library, see 
      a(href="http://jonobr1.github.io/two.js/") jonobr1.github.io/two.js
    
    #twojs-example(style="width: 300px; height: 300px;")